*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto; /* 0 auto means to apply margin in the way by which the content will be in center*/
    padding: 20px;
}

h1{
    margin: 20px 100px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 32%;
    position:relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;

}

img{
    width: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;
    height: 100%;
}
